<header>
  <div class='header-contents'>
    <div class='logo'>
      <%= link_to 'Minpaku ', root_path %>
    </div>
    <div class="nav">
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        <%= link_to 'マイページ', "#", class: "mypage" %>
      <% else %>
        <%= link_to 'お部屋を掲載する', "#", class: "shitumon" %>
        <%= link_to 'ログイン', new_user_session_path, class: "login" %>
        <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
      <% end %>
    </div>   
</header>
