<%= render "shared/header" %>

<div class='index-main'>
  <div class='post-contents'>
    <% @rooms.each do |room| %>
      <%# 投稿１件分の表示 %>
      <div class='post-content'>
        <%# コメントに関する表示 %>
        <div class='comment'>
          <div class='comment__num'>
             <%= room.liked_users.count %>
          </div>
          <div class='comment__unit'>
            Good!
          </div>
        </div>

        <%# 質問本文の表示 %>
        <div class='room'>
          <div class='room-top'>
            <div class='room-top__title'>
              <%= link_to room.title, room_path(room.id) %>
            </div>
            <div class='room-top__name'>
              <%= room.name %>
            </div>
          </div>
          <div class='room-bottom'>
            <div class='room-bottom__content'>
              <%= room.content %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>